@model Patient

@{ 
    Layout = "_Layout";
    ViewBag.Title = "Thanks";
}


    <h1> THANK YOU! </h1>
    <p>
        The Patient <span class="blockquote">@Model.Name</span> has been successfully
        registered as <span class="blockquote">@Model.Occupation</span>
        on <span class="blockquote">@Model.CurrentDateAndTime</span> !!

</p>
   