

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="\lib\bootstrap\css\bootstrap.min.css" />


    <title>First Page</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1> Party Invites</h1>
        <h2>
            @ViewBag.Greeting World!
        </h2>

        <a class="btn btn-primary"  asp-action="RsvpForm">Rsvp Form Here!</a>


    </div>
    
</body>
</html>
