@model Recipe

@{
    ViewBag.Title = "Customize Recipes";
    Layout = "_AdminLayout";
}

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="RecipeID" />

    <div class="item">
        <div class="form-group">

            <div>
                <label asp-for="Name"></label><br>
                <input asp-for="Name" />
            </div>
        </div>
    </div>
    <div class="item">
        <div class="form-group">
            <div>
                <label asp-for="Chef"></label><br>
                <input asp-for="Chef" />
            </div>
            <div>
                <label asp-for="PreparationTime"></label><br>
                <input asp-for="PreparationTime" />
            </div>
        </div>
    </div>
    <div class="item">
        <div class="form-group">
            <div>
                <label asp-for="Ingredient"></label><br>
                <textarea rows="15" class="line-breaks" cols="93" asp-for="Ingredient"> </textarea>
            </div>
        </div>
        <div class="item">
            <div class="form-group">
                <div>
                    <label asp-for="Description"></label><br>
                    <textarea class="line-breaks" rows="15" cols="93" asp-for="Description"> </textarea>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index">Cancel</a>
    </div>


</form>