@model Recipe



    <fieldset>

        <legend>Describe your Recipe...</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" asp-for="Name">Recipe Name</label>
            <div class="col-md-4">
                <input id="Name" asp-for="Name" name="Name" type="text" placeholder="" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="col-md-4 control-label">Description of Recipe: </label>
            <div class="col-md-4">
                <textarea asp-for="Description" class="form-control" cols="50" rows="5" name="Description">Describe how it make you feel...</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" asp-for="Chef">Chef's Name</label>
            <div class="col-md-4">
                <input id="Chef" asp-for="Chef" name="Chef" type="text" placeholder="" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" asp-for="PreparationTime">Preparation Time:</label>
            <div class="col-md-2">
                <input id="PreparationTime" asp-for="PreparationTime" name="PreparationTime" type="text" placeholder="min" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" asp-for="Ingredient">Ingredients: </label>
            <div class="col-md-4">
                <textarea asp-for="Ingredient" class="form-control" rows="15" id="Ingredient" name="Ingredient"></textarea>
            </div>
        </div>

    </fieldset>

    


