@model Recipe


    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h2>@Model.Name</h2>
                <p>@Model.Description</p>
                <p><a class="btn btn-default" asp-action="ViewRecipe" asp-route-id=@Model.Name>View details »</a></p>
                <p><a class="btn btn-default" asp-action="Review" role="button">Write a Review »</a></p>
            </div>
        </div>
    </div>



