@model Recipe


    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h2><a class="card-link" asp-action="ViewRecipe">@Model.Name</a></h2>
                <p>@Model.Description</p>
                <p><a class="btn btn-default" asp-action="ViewRecipe" role="button">View details »</a></p>
                <p><a class="btn btn-default" asp-action="Review" role="button">Write a Review »</a></p>
            </div>
        </div>
    </div>



