@model Recipe

@{
    Layout = "_Layout";
    ViewBag.Title = "Add New Recipe";
}

    <form asp-action="Form" class="form-horizontal" method="post">


        @await Html.PartialAsync("RecipeForm", Model)

        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            
                <button type="submit" class="btn btn-primary">SAVE</button>
                      
                <button asp-action="Index" class="btn btn-primary">CANCEL</button>
            
        </div>

    </form>