
@{
    Layout = "_Layout";
    ViewBag.Title = "Tasty's Recipe Page";
}
    
    <div class="justify-content-lg-center">
        <h1> Tasty Food Recipe Databank </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Et pharetra pharetra massa massa 
        ultricies mi quis hendrerit. Praesent elementum facilisis leo vel fringilla est
        ullamcorper eget. Mattis aliquam faucibus purus in. Ullamcorper morbi tincidunt 
        ornare massa eget egestas purus viverra. Ut enim blandit volutpat maecenas volutpat
        blandit aliquam etiam. Cras sed felis eget velit aliquet sagittis id consectetur.
        Maecenas ultricies mi eget mauris pharetra et ultrices neque ornare. Magna ac placerat
        vestibulum lectus. Bibendum at varius vel pharetra vel turpis nunc eget lorem. Amet
        consectetur adipiscing elit ut aliquam purus sit amet luctus. Tortor at risus viverra
        adipiscing at in.

        </p>

    </div>
