@model IEnumerable<Recipe>

@{
    Layout = "_Layout";
    ViewBag.Title = "List of All Recipes";
}

    <div class="row">
        

        @foreach (var data in Model)
        {

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h2>@data.Name</h2>
                    <p>@data.Description</p>
                    <p><a class="btn btn-outline-info" asp-action="ViewRecipe" asp-route-id=@data.RecipeID>View details »</a></p>
                    <p><a class="btn btn-outline-primary" asp-action="Review" role="button">Write a Review »</a></p>
                </div>
            </div>
        </div>

        }
    </div>