@model IEnumerable<Recipe>

@{
    Layout = "_Layout";
    ViewBag.Title = "List of All Recipes";
}

    <div class="row">
        

        @foreach (var data in Model)
        {

            @await Html.PartialAsync("RecipeList", data)

        }
    </div>