body {
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}
.titlefont {
    font-family: 'Damion', cursive;
    font-size: 6rem;
    color: #007bff;
}

.stars {
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}
.img-t{
    float:right;
    top: 50px;
    height: 100px;
}
label {
    display: inline-block;
    width: 140px;
    text-align: right;
}
input {
    display: inline-block;
    width: 60%;
}

input > * {
    display: inline-block;
    width: 60%;
}
