<!DOCTYPE html>

<html>
<head>
    <title>Users</title>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="m-1 p-1">

    <div>
        <img class="rounded mx-auto d-block" width="300" src="/images/ttc.svg" />
    </div>

    <div class="bg-primary m-1 p-1 text-white">
        <h1>@ViewBag.Title</h1>
    </div>

    @RenderBody()
</body>
</html>
