@model Student

@{
    
    ViewBag.Title = "Student Home";
}


    <div class="jumbotron-fluid">
        <h1> Name : @Model.Firstname</h1>
        <a asp-action="LStudents" class="page-link">List of Students</a>

    </div>
   